.about{
    margin-top: 100px;
}

.about .about-container{
    display: flex;
    justify-content: center;
    align-items: end;
}

.about .about-container .imagem img{
    width: 600px;
}

.about .about-container .descricao{
    width: 500px;
    background-color: #fff;
    padding: 90px 0 0 60px;
    margin-left: -130px;
}

.about .about-container .descricao h2{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.about .about-container .descricao p{
    line-height: 25px;
}